adagio==0.2.6
appdirs==1.4.4
cloudpickle==3.1.1
contourpy==1.3.3
coreforecast==0.0.16
cycler==0.12.1
fonttools==4.59.0
fs==2.4.16
fsspec==2025.7.0
fugue==0.9.1
isotree==0.6.1.post8
joblib==1.5.1
kiwisolver==1.4.8
kneed==0.8.5
llvmlite==0.44.0
matplotlib==3.10.5
more-itertools==10.7.0
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.1
patsy==1.0.1
pillow==11.3.0
polars==1.32.2
pyarrow==21.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
statsforecast==2.0.2
statsmodels==0.14.5
threadpoolctl==3.6.0
tqdm==4.67.1
triad==0.9.8
tzdata==2025.2
utilsforecast==0.2.12
